.my-bg {
    height: 100vh;
    background: url("/img/bgHero.png");
    background-size: cover;
    /* background-position: center; */
}

.rectangle-37,
.rectangle-37 * {
  box-sizing: border-box;
}

.rectangle-37 {
  position: relative;
  display: flex;
  background: #ffffff;
  border-radius: 30px;
  width: 70vh;
  height: 65vh;
  margin: auto;
  text-align: center;
}

.tombol5 {
  width: 6.5rem;
  height: 1.5rem;
  /* margin: 1px; */
  margin-right: 2rem;
}

#ProgressBar div {
  animation-name: progresBarAnimate;
  animation-duration: 1000ms;
}

@keyframes progresBarAnimate{
  from {width:50%;}
  to{width:100%;}
}

#ProgressBar1 div{
  animation-name:progresBarAnimate1;
  animation-duration:1000ms;
}

@keyframes progresBarAnimate1{
  from{width:0%;}
  to{width:50%;}
}